h3{
     background-color: blueviolet;
     padding: 10px;
}
.one{
     background-color: chartreuse;
     margin; 10px;
     padding: 10px;
}
.two{
     background-color: aqua;
     margin: auto;
     padding: 15px;
     background-image: ;
}
.img{
     border: 5px solid rebeccapurple;
     margin: 15px;
}